---
import RouteBtn from "./RouteBtn.astro";
import RouteLeftBtn from "./RouteLeftBtn.astro";

export interface routeProps {
    next : string,
    before :string,
    home : string
}


const { path, subpath ,pwd } = Astro.props

---

<div class="w-full flex justify-between mt-4 bg-transparent">
    <div>
        <RouteLeftBtn url={"/"} name={"home"}/>
    </div>
    <div class="flex flex-row">
        <RouteBtn url={"/"} name={"before"}/>
        <RouteBtn url={"/"} name={"next"}/>
    </div>

</div>
