---
const { url,name } = Astro.props
---
<a href={url} >
    <div class="w-32 h-12 rounded-xl bg-teal-50 outline outline-teal-100 shadow-xl flex justify-center">
        <p class="text-center m-auto">{name}</p>
    </div>
</a>
