---
const { url,name } = Astro.props
---
<div class="w-32 h-12 rounded-xl bg-teal-50 outline outline-teal-100 shadow-xl ml-4 flex justify-center">
    <a href={url} class="text-center items-center">{name}</a>
</div>
