---

const { tag } = Astro.props

---
<a>
    <div class="shadow-xl rounded-lg outline outline-2 outline-teal-200 bg-teal-100 px-2 py-1">
        <p class="text-teal-400 text-center">#{tag}</p>
    </div>
</a>
