<nav class="bg-teal-300 p-4 flex flex-row">
    <h1 class="text-start text-xl flex-1">NJoyShadow</h1>
    <div class="flex-2">
        <ui>
        <li>hi</li>
        </ui>
    </div>
    <style>
        li::marker{
            content: none;
        }
    </style>

</nav>