---
const list = [
    {
        title : "Project",
        url : "/project"
    },
    {
        title : "Blog",
        url : "/post"
    }
]
---

<nav class="bg-teal-300 p-4 flex flex-row w-full">
    <a href="/" class="text-start text-xl flex-1">NJoyShadow</a>
    <div class="flex">
        <ui class="flex flex-row">
            {list.map(x =>(
                    <li class="text-teal-50 pr-4">
                        <a href={x.url}>{x.title}</a>
                    </li>
                ))}
        </ui>
    </div>
    <style>
        a:active{
            background-color: none;
        }
        li::marker{
            content: none;
        }
    </style>

</nav>