---
export interface propsItem {
    title: string,
    sub: subItem[]
}
export interface subItem {
    subtitle: string,
    subUrl: string
}


const { item,title } = Astro.props
const items : propsItem[] = item
console.log(title)
---

<div class="sticky m-2 rounded-xl pt-2 bg-teal-200 shadow-xl top-1 mt-4">
    <p class="m-auto justify-center">{title}</p>
    {items.map(x=>(
        <details>
            <summary class="px-2 pb-2 summary-mark">{x.title}</summary>
                <span class="py-2">
                    <ul>
                        {x.sub.map(y =>(
                            <li class="px-1 w-full bg-teal-50">
                                <a href={y.subUrl}>{y.subtitle}</a>
                            </li>
                        ))} 
                    </ul>
                </span>
            
        </details>
    ))}
    
    <style>



        .summary-mark{
            display: flex;
            justify-content: space-between;
            &:marker {
                content: none;
            }
            &::after{
                margin-right: 0.5rem;
                transform: rotate(-180deg);
                content: "\276F";
                display: inline-block;
                transition: transform 0.3s;
            }
        }
        details[open] > .summary-mark::after{
            transform: rotate(-270deg);
            
        }
        details[open] > .span-open{
            animation: open 0.3s  ease-out;
        }

        
    </style>

</div>
