---
import Footer from "../components/default/Footer.astro";
import Navbar from "../components/default/Navbar.astro";
import Sidebar from "../components/default/Sidebar.astro";


const { title , description } = Astro.props
---
<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="description" content={description}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="pb-14 relative wrap">
        <Navbar/>
        <div class="flex flex-row ">
            <Sidebar/>
            <div class="w-full ">
                <slot/>
            </div>
            <Footer/>
        </div>
    </div>
    </body>
    <style>
        .wrap{
            min-height: 100%;
        }
        html,body {
            height: 100%;
        }

        @font-face {
            font-family: 'NanumSquareRound';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body{
            font-family: "NanumSquareRound",serif;
        }
     </style>

</html>
