---
import Footer from "../components/default/Footer.astro";
import Navbar from "../components/default/Navbar.astro";
import Sidebar from "../components/default/Sidebar.astro";


const { title , description } = Astro.props
---
<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="description" content={description}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
    </head>
    <Navbar/>
    <body >
        <div class="flex flex-row">
            <Sidebar/>
            <div class="w-full ">
                <slot/>
            </div>
        </div>
    </body>
    <Footer/>
    <style>

    </style>

</html>
